.manage-account-container{
    padding: 10px;
    text-align: center;
    .account-content{
        text-align: right;
        .btn-add-new{
            margin: 20px 0;
            }
        .table-account-container{
            margin-top: 20px;
        }
        
    }

    .title{
        font-weight: 600;
        font-size: 30px;
        margin-left: 50px;
    }
}