
.navbar-custom {
    // background-color: #333333;
    color: white;
    width: 100%;

    .container{
      background-color: #f9fbfc;
    }
    
  
    .navbar-brand {
      font-size: 40px;
      color: rgb(0, 236, 253);
      justify-content: center;
      margin-left: 40px;
      margin-right: 40px;
      margin-top: 30px;

      &:hover {
        color: #353232;
      }
    }
    
    .navbar-collapse{
      margin-top: 20px;
    }
    .nav-link {
      color: rgb(5, 5, 5);
      font-size: 25px;
      margin-left: 150px;
      margin-right: 150px;
      margin-top: 20px;

  
      &:hover {
        color: #ddd;
      }
    }
  
    .nav-dropdown {
      .dropdown-menu {
        background-color:   #faf9f9;
        border: none;
        margin-top: 5px;
        margin-left: 160px;
  
        .dropdown-item {
          color: rgb(14, 13, 13);
          font-size: 15px;
  
          &:hover {
            background-color: #555;
            color: white;
          }
        }
      }
    }
  
    .navbar-toggler {
      border-color: white;
  
      &:focus {
        box-shadow: none;
      }
  
    }
  }

  .nav-avatar {

    margin-top: 20px;
    .dropdown-toggle {
      padding: 0;
      border: none;
      margin-right: 40px;
      

      &:focus {
        box-shadow: none;
      }

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }
      &::after {
        display: none;
      }
    }

    .dropdown-menu {
      background-color: #f5f0f0;
      border: none;
      margin-top: 15px;

      .dropdown-item {
        color: rgb(3, 3, 3);

        &:hover {
          background-color: #555;
          color: white;
        }
      }
    }
  }

  